vikunja-gitea-issue-sync-.json
{
  "createdAt": "2025-05-28T08:19:10.793Z",
  "updatedAt": "2025-06-06T06:06:33.690Z",
  "id": "5V1YpAjEZebZEjIE",
  "name": "Vikunja Gitea issue sync",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "project": 3,
        "events": [
          "task.updated",
          "task.created",
          "task.deleted",
          "project.updated"
        ]
      },
      "type": "n8n-nodes-vikunja.vikunjaTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7f821e9d-a13e-41ad-af8f-7dc8c3358049",
      "name": "Vikunja Trigger",
      "webhookId": "e2c6322c-4315-4c2e-9c2e-35b0cd73ce63",
      "credentials": {
        "vikunjaApi": {
          "id": "GTluwbxnQ5BWSHDp",
          "name": "Vikunja account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gitea.simensky.org/api/v1/repos/gitea/simenshomelab/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.data.task.title }}"
            },
            {
              "name": "body",
              "value": "={{ $json.data.task.description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        -100
      ],
      "id": "e575489b-eb55-4d65-80bc-24b405b1a2f4",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "fvHH5KCzfoRLf9Mp",
          "name": "Gitea"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event_name }}",
                    "rightValue": "task.created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b8eb72eb-ae60-40c9-87b6-75f3fca6baaa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c54709a-6ad6-4971-b013-dc221cb4d86e",
                    "leftValue": "={{ $json.event_name }}",
                    "rightValue": "task.updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        0
      ],
      "id": "071513c4-d728-4bc1-9212-a0a240f94cc9",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://gitea.simensky.org/api/v1/repos/gitea/simenshomelab/issues/{{ $json.data.task.labels[0].title }}/comments#issue-{{ $json.data.task.labels[0].title }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $('Vikunja Trigger').item.json.data.task.description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        100
      ],
      "id": "20380cbb-74e0-4454-b5d5-8272b209f626",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "fvHH5KCzfoRLf9Mp",
          "name": "Gitea"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabel",
        "taskId": "={{ $('Vikunja Trigger').item.json.data.task.id }}",
        "taskLabel": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-vikunja.vikunja",
      "typeVersion": 1,
      "position": [
        880,
        -100
      ],
      "id": "cfaa4949-cfa4-40e0-bbfd-8a8587e9f288",
      "name": "Vikunja",
      "credentials": {
        "vikunjaApi": {
          "id": "GTluwbxnQ5BWSHDp",
          "name": "Vikunja account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "labelTitle": "=\"{{ $json.id }}\"",
        "requestOptions": {}
      },
      "type": "n8n-nodes-vikunja.vikunja",
      "typeVersion": 1,
      "position": [
        680,
        -100
      ],
      "id": "44c2f5fb-a563-4333-a249-5994b66f41d7",
      "name": "Vikunja1",
      "credentials": {
        "vikunjaApi": {
          "id": "GTluwbxnQ5BWSHDp",
          "name": "Vikunja account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a06a30-603c-4f89-a064-ca0e47f4d662",
              "name": "data.task.labels[0].title",
              "value": "={{ $json.data.task.labels[0].title.replace(/[^0-9]/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        100
      ],
      "id": "4486beb0-406d-4ba0-b26d-d4369b166d70",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Vikunja Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Vikunja1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vikunja1": {
      "main": [
        [
          {
            "node": "Vikunja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Vikunja Trigger": {
      "webhookId": 31
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1e4c2585-4e10-4b9e-9041-f6cd43614804",
  "triggerCount": 1,
  "tags": []
}